@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: rgba(235, 235, 255, 1);
  --muted-background: rgba(220, 220, 255, 0.6);
  --foreground: rgba(40, 40, 40, 1);
  --muted-foreground: rgba(30, 30, 30, 0.7);

  --primary: rgba(40, 70, 255, 1);
}
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #000000; */
/*     --foreground: #ededed; */
/*   } */
/* } */

@theme inline {
  --color-background: var(--background);
  --color-muted-background: var(--muted-background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="range"]::-webkit-slider-thumb {
  @apply w-4 h-4 bg-primary rounded-full;
  border: none;
}
input[type="range"]::-moz-range-thumb {
  @apply w-4 h-4 bg-primary rounded-full;
  border: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  @apply rounded-full bg-background;
}
input[type="range"]::-moz-range-track {
  @apply rounded-full bg-background;
}
