@import "tailwindcss";

:root {
  --background: rgba(220, 220, 255, 1);
  --muted-background: rgba(220, 220, 255, 0.6);
  --foreground: rgba(30, 30, 30, 1);
  --muted-foreground: rgba(30, 30, 30, 0.6);

  --primary: rgba(80, 60, 255, 1);
}
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #000000; */
/*     --foreground: #ededed; */
/*   } */
/* } */

@theme inline {
  --color-background: var(--background);
  --color-muted-background: var(--muted-background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
